@font-face {
    font-family: "Raleway-Bold";
    src: url("../dist/fonts/Raleway-Bold.woff") format("woff");
    font-display: auto;
}
@font-face {
    font-family: "Raleway-Heavy";
    src: url("../dist/fonts/raleway-heavy-webfont.woff") format("woff");
    font-display: auto;
}
@font-face {
    font-family: "Raleway-Light";
    src: url("../dist/fonts/raleway-light-webfont.woff") format("woff");
    font-display: auto;
}
